{% extends 'base.html.twig' %}

{% import 'macro_connected_block.html.twig' as blockConnected %}

{% block body %}

    <!--Desktop nav-->
    <nav id="desktop-admin-nav" class="desktop-nav navbar navbar-expand-md fixed-top">
        <a id="nav-logo" class="navbar-brand" href="{{ path('home') }}">SNOWTRICKS</a>
        <div id="desktop-front-menu" class="collapse navbar-collapse nav-menu">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('admin-tricks') }}">Tricks</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('admin-users') }}">Users</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Back to site</a></li>
                {{ blockConnected.connection('admin','desktop') }}
            </ul>
        </div>
    </nav>
    <!--end Desktop nav-->

    <!--Mobile nav-->

    <nav id="mobile-admin-nav" class="mobile-nav navbar navbar-expand-sm fixed-bottom" >
        <ul class="nav-menu">
            <li class="nav-item"><a href="{{ path('admin-users') }}"><i class="fas fa-users"></i></a></li>
            <li class="nav-item"><a href="{{ path('admin-tricks') }}"><i class="fas fa-snowboarding"></i></a></li>
            {{ blockConnected.connection('admin','mobile') }}
        </ul>
    </nav>
    <!--end Mobile nav-->

    <div id="main-wrapper">

        {% block mainContent %}{% endblock %}

    </div>

    <footer>
        <p><a href="/">Retour au site</a></p>
    </footer>

{% endblock %}

{% block footerScripts %}

    {{ parent() }}

    {# Encore JS #}
    {{ encore_entry_script_tags('admin') }}

{% endblock %}