{% extends 'admin/layout.html.twig' %}
{% import 'macro_edit_btns.html.twig' as buttons %}

{% block title %}Admin Tricks{% endblock %}

{% block mainContent %}
    <div id="admin-list" class="admin-content">
        <h1>List of tricks</h1>
        <div class="table-wrapper">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Trick Name</th>
                    <th>Trick Group</th>
                    <th>Author</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                    <th>Status</th>
                    <th>Toggle Status</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>

                {% for trick in tricks %}

                    <tr>
                        <td><a href="/tricks/{{ trick.slug }}">{{ trick.name }}</a></td>
                        <td>{{ trick.trickGroup.name }}</td>
                        <td>{{ trick.author.username }}</td>
                        <td>{{ trick.dateAdded | date('Y-m-d') }}</td>
                        <td>{{ trick.dateModified | date('Y-m-d') }}</td>
                        <td class="status-cell">{{ trick.status }}</td>
                        <td>
                            <form id="status-form">
                                <label class="jxp-admin-toggle">
                                    <input id="publish-{{ trick.slug }}" class="status-toggler" type="checkbox" data-slug="{{ trick.slug }}"
                                    {% if trick.status == 1 %} checked {% endif %}>
                                    <span class="jxp-toggle-slider"></span>
                                </label>
                                <input type="hidden" name="token" value="{{ csrf_token('change-status') }}"/>
                            </form>

                        </td>
                        <td class="remove-icon">
                            {{ buttons.editTrickBtns(trick.slug, 'icon', 'icon')  | raw }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        {% include 'admin/_admin_pagination.html.twig' %}

    </div>
{% endblock %}

{% block footerScripts %}

    {{ parent() }}

    {# Encore JS #}
    {{ encore_entry_script_tags('admin-tricks') }}

{% endblock %}