{% extends 'admin/layout.html.twig' %}

{% block title %}Admin Tricks{% endblock %}

{% block mainContent %}
    <div id="admin-trick-list" class="admin-content">
        <h1>List of tricks</h1>
        <div class="table-wrapper">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Trick Name</th>
                    <th>Trick Group</th>
                    <th>Author</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                    <th>Status</th>
                    <th>Toggle Status</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>

                {% for trick in tricks %}

                    <tr>
                        <td><a href="/tricks/{{ trick.name }}">{{ trick.name }}</a></td>
                        <td>{{ trick.trickGroup.name }}</td>
                        <td>{{ trick.author.username }}</td>
                        <td>{{ trick.dateAdded | date('Y-m-d') }}</td>
                        <td>{{ trick.dateModified | date('Y-m-d') }}</td>
                        <td>{{ trick.status }}</td>
                        <td>
                            <label class="jxp-admin-toggle">
                                <input id="publish-{{ trick.name }}" type="checkbox" data-slug="{{ trick.name }}">
                                <span class="jxp-toggle-slider"></span>
                            </label>
                        </td>
                        <td class="remove-icon">
                            <a href="{{ path('edit-trick', {'trickName': trick.name}) }}"><i class="far fa-edit mx-2"></i></a>
                            <form name="remove-form-{{ trick.name }}" action="{{ path('remove-trick', {'trickName': trick.name}) }}">
                                <input type="hidden" name="remove_token" value="{{ csrf_token('delete-trick') }}">
                                <button data-trick-name="{{ trick.name }}" type="submit" class="remove-btn"><i class="far fa-trash-alt mx-2"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        {% include 'admin/_pagination.html.twig' %}

    </div>
{% endblock %}