{% import 'front/macro_trick.html.twig' as displayTrick %}
{% import 'macro_edit_btns.html.twig' as buttons %}

{% block trickList %}
    <div id="trick-list">

        <div id="list-options">
            {{ form_start(filterForm) }}

            {{ form_widget(filterForm.trickGroup) }}

            {{ form_row(filterForm.limit, {'attr':{'value':limit}}) }}

            <button class="btn btn-primary load-btn modify-list" data-group="filter" type="submit">
                <span class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
                Filter by Trick Group
            </button>

            {{ form_end(filterForm) }}
        </div>

        <div id="trick-grid">

            {% for trick in tricks %}

                {% if trick.status == 0 %}
                    {% set statusClass = 'draft' %}
                    {% set draftText = ' - Draft' %}
                {% else %}
                    {% set statusClass = '' %}
                    {% set draftText = '' %}
                {% endif %}

                <div class="card jxp-clickable {{ statusClass }}">
                    {{ displayTrick.displayMainImage(trick,"card-img-top") }}
                    <div class="card-body">
                        <h5 class="trick-name"><a href="{{ path('trick',{trickSlug:trick.slug}) }}">{{ trick.name~' '~draftText }}</a></h5>
                        <p class="font-italic">{{ trick.trickGroup.name }}</p>

                        {% if is_granted('edit',trick) %}
                            <div class="block-edit">
                                {{ buttons.editTrickBtns(trick.slug, 'icon', 'icon')  | raw }}
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>

        {{ form_start(limitForm) }}

        {{ form_row(limitForm.trickGroupId, {'attr':{'value':filterId}}) }}

        {{ form_row(limitForm.limit, {'attr':{'value':limit}}) }}

        <button class="btn btn-secondary load-btn modify-list" data-group="limit" type="submit">
            <span class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
            See more tricks
        </button>

        {{ form_end(limitForm) }}

    </div>

{% endblock %}
