{% extends 'front/layout.html.twig' %}
{% import 'front/macro_trick.html.twig' as displayTrick %}

{% block title %}Snowtricks On Line{% endblock %}

{% block metaDescription %}Les meilleurs tricks de Snowboard{% endblock %}

{% block mainContent %}

    <!--header-->
    <header id="home-header">

        <h1>Figures de Style</h1>
        <p class="scroll-arrow"><a href="{{ path('home')~'#trick-list' }}"><i class="fas fa-arrow-circle-down jxp-clickable"></i></a></p>

    </header>
    <!--end header-->

    <section id="section-trick">

        <h3>Tricks</h3>

        <a id="new-trick" class="btn btn-secondary" href="{{ path('edit-trick',{'trickSlug':'new'}) }}">Create Trick</a>

        <div id="list-options">
            {{ form_start(homeForm) }}

            {{ form_widget(homeForm.trickGroup) }}

            <button class="btn btn-primary">Filter by Trick Group</button>

            {{ form_end(homeForm) }}
        </div>

        <div id="trick-list">

            {% for trick in tricks %}
                <div class="card jxp-clickable">
                    {{ displayTrick.displayMainImage(trick,"card-img-top") }}
                    <div class="card-body">
                        <h5 class="trick-name"><a href="{{ path('trick',{trickSlug:trick.slug}) }}">{{ trick.name }}</a></h5>
                        <p class="font-italic">{{ trick.trickGroup.name }}</p>
                        {{ editButtons(path('edit-trick',{trickSlug:trick.slug}), path('remove-trick',{trickSlug:trick.slug})) | raw }}
                    </div>
                </div>
            {% endfor %}

        </div>

        <button class="btn btn-secondary load-btn" type="button">
            <span class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
            See more tricks
        </button>

    </section>

{% endblock %}

{% block footerScripts %}

    {# Encore scripts #}
    {{ parent() }}
    {{ encore_entry_script_tags('home_page') }}

{% endblock %}
