{% extends 'front/layout.html.twig' %}

{% block title %}Snowtricks On Line{% endblock %}

{% block metaDescription %}Les meilleurs tricks de Snowboard{% endblock %}

{% block mainContent %}

    <!--header-->
    <header id="home-header">

        <h1>Figures de Style</h1>
        <p class="scroll-arrow"><a href="/#trick-list"><i class="fas fa-arrow-circle-down jxp-clickable"></i></a></p>

    </header>
    <!--end header-->

    <section id="section-trick">

        <div id="trick-list">

            {% for trick in tricks %}

                <div class="trick-card">
                    <img class="trick-image" src="/media/{{ trick.mainImage.fileName }}" alt="snowboard trick ollie">
                    <div class="trick-text">
                        <p class="trick-name"><a href="/tricks/{{ trick.name }}">{{ trick.name }}</a></p>
                        <p>
                            <a class="trick-icons" href="/tricks/?edit={{ trick.name }}"><i class="far fa-edit"></i></a>
                            <a class="trick-icons" href="/tricks/?remove={{ trick.name }}"><i class="far fa-trash-alt"></i></a>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <a class="jxp-btn-load">Plus   </a>

    </section>

{% endblock %}
