{% extends 'front/layout.html.twig' %}
{% import 'front/macro_trick.html.twig' as displayTrick %}

{% block title %}Snowtricks On Line{% endblock %}

{% block metaDescription %}Les meilleurs tricks de Snowboard{% endblock %}

{% block mainContent %}

    <!--header-->
    <header id="home-header">

        <h1>Figures de Style</h1>
        <p class="scroll-arrow"><a href="{{ path('home')~'#trick-list' }}"><i class="fas fa-arrow-circle-down jxp-clickable"></i></a></p>

    </header>
    <!--end header-->

    <section id="section-trick">

        <h3>Tricks</h3>

        <a id="new-trick" class="btn btn-secondary" href="{{ path('edit-trick',{'trickSlug':'new'}) }}">Create Trick</a>

        <div id="list-options">
            {{ form_start(homeForm) }}

            {{ form_widget(homeForm.trickGroup) }}

            {{ form_row(homeForm.limit, {'attr':{'value':limit}}) }}

            <button class="btn btn-primary load-btn modify-list" data-group="filter" type="submit">
                <span class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
                Filter by Trick Group
            </button>

            {{ form_end(homeForm) }}
        </div>

        {% include 'front/_trick_list.html.twig' %}

        {{ form_start(limitForm) }}

        {{ form_row(limitForm.trickGroup, {'attr':{'value':filterId}}) }}

        {{ form_row(limitForm.limit, {'attr':{'value':limit}}) }}

        <button class="btn btn-secondary load-btn modify-list" data-group="limit" type="submit">
            <span class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
            See more tricks
        </button>

        {{ form_end(limitForm) }}

    </section>

{% endblock %}

{% block footerScripts %}

    {# Encore scripts #}
    {{ parent() }}
    {{ encore_entry_script_tags('home_page') }}

{% endblock %}
