{% extends 'front/layout.html.twig' %}

{% block title %}Snowtricks On Line{% endblock %}

{% block metaDescription %}Les meilleurs tricks de Snowboard{% endblock %}

{% block mainContent %}

    <!--header-->
    <header id="home-header">

        <h1>Figures de Style</h1>
        <p class="scroll-arrow"><a href="{{ path('home')~'#trick-list' }}"><i class="fas fa-arrow-circle-down jxp-clickable"></i></a></p>

    </header>
    <!--end header-->

    <section id="section-trick">

        <h3>Tricks</h3>

        <div id="trick-list">

            {% for trick in tricks %}
                <div class="card jxp-clickable">
                    <img class="card-img-top" src="{{ asset('/media/tricks_media/'~trick.mainImage.fileName) }}" alt="{{ trick.mainImage.alt }}">
                    <div class="card-body">
                        <h5 class="trick-name"><a href="{{ path('trick',{trickName:trick.name}) }}">{{ trick.name }}</a></h5>
                        <p>
                            <a class="trick-icons" href="{{ path('edit-trick',{trickName:trick.name}) }}"><i class="far fa-edit"></i></a>
                            <a class="trick-icons" href="{{ path('remove-trick',{trickName:trick.name}) }}"><i class="far fa-trash-alt"></i></a>
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>

        <button class="btn btn-secondary load-btn" type="button">
            <span class="spinner-border spinner-border-sm collapse" role="status" aria-hidden="true"></span>
            See more tricks
        </button>

    </section>

{% endblock %}

{% block footerScripts %}

    {# Encore scripts #}
    {{ parent() }}
    {{ encore_entry_script_tags('home_page') }}

{% endblock %}
