{% extends 'base.html.twig' %}
{% import 'macro_connected_block.html.twig' as blockConnected %}


{% block body %}

    <!--Desktop nav-->
    <nav id="desktop-front-nav" class="desktop-nav navbar navbar-expand-md fixed-top">
        <a id="nav-logo" class="navbar-brand" href="{{ path('home') }}">SNOWTRICKS</a>
        <div id="desktop-front-menu" class="collapse navbar-collapse nav-menu">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/#trick-list">Tricks</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ blockConnected.connection('front','desktop') }}
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--end Desktop nav-->

    <!--Mobile nav-->
    <nav id="mobile-front-nav" class="mobile-nav navbar navbar-expand-sm fixed-bottom" >
        <ul class="nav-menu">
            <li class="nav-item"><a href="/"><i class="fas fa-igloo"></i></a></li>
            <li class="nav-item"><a href="/#trick-list"><i class="fas fa-snowboarding"></i></a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ blockConnected.connection('front','mobile') }}
            {% else %}
                <li class="nav-item"><a href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a></li>
            {% endif %}
        </ul>
    </nav>
    <!--end Mobile nav-->

    <div id="main-wrapper">

        {% block mainContent %}{% endblock %}

    </div>

    <footer>
        <p>Copyright</p>
        <p><a>Confidentialité</a></p>
    </footer>

{% endblock %}