{% extends 'front/layout.html.twig' %}

{% block title %}Member Profile{% endblock %}

{% block mainContent %}
    <div id="member-profile">

        <div class="form-card">
            <h1>Profile</h1>

            {{ form_start(formProfile) }}

            <div id="form-group-avatar" class="form-group">
                <div class="avatar-container">
                    <img src="{{ asset('media/avatars/'~avatarFilename(user.avatar)) }}" alt="avatar picture">
                </div>

                {{ form_widget(formProfile.avatar) }}
            </div>

            {{ form_row(formProfile.username) }}

            {{ form_row(formProfile.email) }}

            <a id="btn-change-pwd" class="btn btn-secondary" href="{{ path('app_reset_password',{'token':user.resetToken}) }}">Change Password</a>

            {{ form_row(formProfile.firstName) }}

            {{ form_row(formProfile.lastName) }}

            <div class="jxp-group-btn">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-dark" href="{{ path('home') }}">Back Home</a>
            </div>

            {{ form_end(formProfile) }}
        </div>



    </div>
{% endblock %}