{% extends 'front/layout.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block mainContent %}
    <div id="user-profile">
        <h1>Profile</h1>

        <form class="jxp-form">
            
            <div class="jxp-form-field-block">
                <label for="username">Username</label>
                <input id="username" class="jxp-form-input" name="username" value="{{ user.username }}">
            </div>

            <div class="jxp-form-field-block">
                <label for="email">Email Address</label>
                <input id="email" class="jxp-form-input" name="email" value="{{ user.email }}">
            </div>

            <div id="profile-avatar-section" class="jxp-form-multifields">
                <div class="avatar-container">
                    <img src="/media/{{ user.avatar.fileName }}" alt="{{ user.avatar.alt }}">
                </div>

                <div class="jxp-form-field-block">
                    <label for="avatar-file">Télécharger fichier</label>
                    <input id="avatar-file" type="file" class="jxp-form-input" name="avatar-file">
                </div>
            </div>

            <div id="name-section" class="jxp-form-multifields">
                <div class="jxp-form-field-block">
                    <label for="last-name">Last Name</label>
                    <input id="last-name" class="jxp-form-input" name="last-name" value="{{ user.lastName }}">
                </div>

                <div class="jxp-form-field-block">
                    <label for="first-name">First Name</label>
                    <input id="first-name" class="jxp-form-input" name="first-name" value="{{ user.firstName }}">
                </div>
            </div>

            <div class="jxp-group-btn">
                <a class="jxp-btn-primary" href="/auth/reset-password">Change Password</a>
            </div>

            <div id="register-buttons" class="jxp-group-btn">
                <button class="jxp-btn-save">Save</button>
                <button class="jxp-btn-remove">Remove</button>
                <button class="jxp-btn-primary">Cancel</button>
            </div>
            
        </form>
    </div>
{% endblock %}