{% extends 'auth/layout.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block formH1 %}Sign In{% endblock %}

{% block formContent %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" class="form-control" value="{{ last_username }}">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="form-control" autocomplete="new-password"
               required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <p><a href="{{ path('app_forgotten_password') }}">Forgot password?</a></p>

    <div class="jxp-group-btn">
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-dark">Cancel</button>
    </div>

{% endblock %}