{% extends 'front/layout.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block mainContent %}
    <div class="form-card">
        <h1>Sign Up</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.passwordGroup) }}

        <div class="jxp-group-btn">
            <button class="btn btn-primary">Register</button>
            <a class="btn btn-dark" href="{{ path('home') }}">Cancel</a>
        </div>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}




